asgiref==3.4.1
bandit==1.7.7
colorama==0.4.5
django==5.2.15
gitdb==4.0.9
GitPython==3.1.50
importlib-metadata==4.8.3
pbr==7.0.3
pytz==2026.2
PyYAML==6.0.1
six==1.17.0
smmap==5.0.0
sqlparse==0.5.0
stevedore==3.5.2
typing-extensions==4.1.1
zipp==3.19.1
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
